

@font-face {
  	font-family: 'MyriadProRegular';	src:  url('../fonts/MyriadProRegular.ttf');
}
@font-face {
    font-family: 'MyriadProLight';
    src: url('../fonts/MyriadPro-Light.otf');
}
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/MyriadPro-Semibold.otf');
}

html {
  font-family: MyriadProRegular;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
img {
   max-width: 100% !important;
}
ul {
  list-style: none;
}
li {
  display: inline;
}
.hidden{ display:none !important;}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}
.white, .white a{
  color:#fff;
}
.skyblue, .skyblue a{
  color: #5FB0E4;
}
.black, black a { color: #000;}
.img-centered {
    margin: 0 auto;
}
.call-box {
  width: 100%;
  height:46px;
  font-size: 1.8em;
  float: left;
  background: #000;
  font-family: MyriadProLight;
}
.call-img {margin: auto; padding: 8px 12px;     width: 52px;
    float: inherit;}
.call-number ul {margin: 0px;}
.call-number p{font-size: 12px; margin: 3px 0px;}
.header-box {
  width: 100%;
  height: 52px;
}
.logo-box {
  width: 50px;
  float: left;
  height: inherit;
}
.logo-img {

}
.header-nav-box{
  margin: 0px !important;
}
.menu-box{
  width: 80%;
  float: right;
  height: inherit;
}
.hambuger {
  margin: 4px 10px;
}
.hambuger >.icon-bar {
  background: #414141;
  width: 25px;
  height: 3px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}
.basket-menu, .login-menu {
   padding-top: 5px;
}
.login-menu h1 {
  font-size: 1.1em;
  color: #414141;
  margin: 0px;
  margin-top: 5px;

}
.login-menu p {
  font-size: 1.0em;
  color: #414141;
  margin: 0px;
}
.fixed-menu {
  width: 50%;
  height: 100%;
  position: relative;
  left:43%;
}
.fixed-menu ul{margin: 0px;}
.fixed-menu li{width: 50px; height: 50px;}
.fixed-menu img {

}
.list-icons { padding: 0px; }







@media screen and (max-width: 800px) {

.fixed-menu ul.list-icons > li.on-mobile{
    display: inline-block;
    min-width: 0px;
    width: 50px;
  }
   .fixed-menu ul.list-icons li .zone-icon span.img{
    display: block;
  }
.fixed-menu ul.list-icons li .zone-icon img {
    display: block;
    width: 46px;
    height: auto;
    margin: 3px auto;
}
.fixed-menu ul.list-icons li .zone-icon span{
    display: none;
}
/*.fixed-menu ul.list-icons li.on-mobile .zone-icon span.bubble-basket{
    right: 4px;
    top: 4px;
}
*/
.fixed-menu ul.list-icons li .zone-icon span.bubble-basket{
    position: absolute;
    background: #cf207e;
    display: block;
    color: #fff;
    min-width: 17px;
    height: 18px;
    line-height: 17px;
    border-radius: 9px;
    font-size: 12px;
    text-align: center;
    right: 38px;
    top: 12px;
    padding: 1px 2px;
}

}