

@font-face {
  	font-family: 'MyriadProRegular';	src:  url('../fonts/MyriadProRegular.ttf');
}
@font-face {
    font-family: 'MyriadProLight';
    src: url('../fonts/MyriadPro-Light.otf');
}
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/MyriadPro-Semibold.otf');
}

html {
  font-family: MyriadProRegular;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
img {
   max-width: 100% !important;
}
ul {
  list-style: none;
}
li {
  display: inline;
}
.hidden{ display:none !important;}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}
.white, .white a{
  color:#fff;
}
.skyblue, .skyblue a{
  color: #5FB0E4;
}
.call-box {
  width: 100%;
  height:46px;
  font-size: 1.8em;
  float: left;
  background: #000;
  font-family: MyriadProLight;
}
.call-img {margin: auto; padding: 8px 12px;     width: 52px;
    float: inherit;}
.call-number ul {margin: 0px;}
.call-number p{font-size: 12px; margin: 3px 0px;}
.header-box {
  width: 100%;
  height: 52px;
}
.logo-box {
  width: 50px;
  float: left;
  height: inherit;
}

.menu-box{
  width: 80%;
  float: right;
  height: inherit;
}
.hamburger-menu,.basket-menu, .login-menu{
  float: right;
  margin: 0px 15px;
}
.hamburger-menu a{
  font-size: 2.5em;
  color: #414141;
}
.basket-menu, .login-menu {
   padding-top: 5px;
}
.login-menu h1 {
  font-size: 1.1em;
  color: #414141;
  margin: 0px;
  margin-top: 5px;

}
.login-menu p {
  font-size: 1.0em;
  color: #414141;
  margin: 0px;
}