

.headerCallBox,.call-box { height: 52px;}
.call-box { font-size: 1.4em; font-family: MyriadProRegular;}
.call-img { width: 48px; height: 48px; padding: 5px 4px; float: inherit;}
.call-number ul {margin-left: 3px;}
.call-number p{font-size: 2.2vw;}
.logo-box,.fixed-menu li{ width: 64px; }
.logo-outer-box,.header-box,.fixed-menu li,.hambuger { height: 64px;  }
.header-nav-box{ margin: 0px !important;}
.pd-text-box,.pd-text-box-left { border-radius: 0px; border-top:1px solid #ababab;}
.pd-text-box-left{border-right:1px solid #ababab;}

.icon-title p { font-size: 12px; text-align: center;}
.menu-box{ width: 80%; height: inherit;}
.hambuger { padding:13px 16px 12px 12px; border-left:solid 1px #ababab; border-radius: 0px;}
.hambuger p{ padding:8px 0px 2px 1px;}
.hambuger >.icon-bar { width: 29px; height: 3px; margin-left: 3px}
.navbar-toggle .icon-bar + .icon-bar { margin-top: 6px;}
.basket-menu, .login-menu { padding-top: 5px;}
.login-menu h1 { font-size: 1.1em;  margin-top: 5px;}
.login-menu p { font-size: 1.0em;}

/*.fixed-menu li{width: 63px; height: 63px;}*/
.fixed-menu img { height: 40px; margin-top: 2px;}

.fixed-menu ul.list-icons > li.on-mobile{
  display: inline-block;
  min-width: 0px;
  border-left:1px solid  #ababab;
  border-bottom: 1px solid  #ababab;
  cursor: pointer;
}
.bubble-basket{
    position: absolute;
    display: block;
    min-width: 17px;
    height: 18px;
    line-height: 17px;
    border-radius: 9px;
    font-size: 12px;
    text-align: center;
   /* TODO:for size*/
    right: 8px;
    top: 5px;
}

.sub-menu,.sub-menu-account {
  border-left: 1px solid  #ababab;
  border-bottom: 1px solid  #ababab;
  margin-top: 0px;
  z-index: 999;
}
.sub-menu ul { width: auto; height: auto; position: absolute; top:100%; }
.sub-menu li { width: 125px; text-align: center;}
.sub-menu li a ,.sub-menu-account li a{text-decoration: none; color:#1c1c1b; line-height: 1.0em;}
.sub-menu li:hover, .sub-menu li:active, .sub-menu li a:hover,..sub-menu li a:active ,
.sub-menu-account li:hover, .sub-menu-account li:active, .sub-menu-account li a:hover,..sub-menu-account li a:active ,
{
  background: #ebebeb;
}
.sub-menu-account{right:60px; border-right:1px solid #ababab;}
.sub-menu-account li {text-align: center;}
/*.sub-menu-list-flag { background: #fff !important; }*/
.flags-list tr { height: 40px;}
.nav-memu-bar{ height: 63px;}
.nav-memu-bar li {
  /* Firefox */
  width: -moz-calc(50%);
  /* WebKit */
  width: -webkit-calc(50% );
  /* Opera */
  width: -o-calc(50% );
  /* Standard */
  width: calc(50%);

  display: inline-block;
  font-size: 3.5vw; /* TODO: define size for model*/;
}
.account h5 { font-family:'MyriadProSemibold' ;font-weight: bold;
    width: 85%;
    margin: 7px auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
.nav-left-menu-box{ /*border-top: 1px solid  #8d8d8d;  border-right: 1px solid  #8d8d8d; */cursor: pointer;}
.nav-right-menu-box { /*border-top: 1px solid;*/}
/*.pd-text-box { padding-top: 2px; padding-bottom: 4px; }*/
.pd-text-box h3{    
    font-size: 20px;
    width: 109px;
    margin-left: 32%;
    line-height: 1.35em;
  }

.pd-text-box img{width:63px; height:63px;}
.pd-menu { border-left: 1px solid  #ababab; border-right: 1px solid  #ababab; border-bottom: 1px solid  #ababab;
  margin-top:0px; margin-bottom: 0px;  z-index: 300;}
.pd-menu li{ text-align: center;line-height: 2.5em;}
.pd-menu li a {text-decoration: none; line-height: 1.0em;}
.pd-menu li:hover, .pd-menu li:active, .pd-menu li a:hover,.pd-menu li a:active {
  background: #ebebeb;
}
.slide-showcase { overflow: hidden; }
.pager-box-mobile{ width: 56px;  height: 56px;  }
.pager-box-mobile{
    background: url('../img/buttons/Arrow_56x56.png') no-repeat;
    position: relative;
    bottom:20px;
    left: 83%;
    z-index: 200;
   text-indent: -9999px;
   cursor: pointer;}
#navbar-ex2-collapse{ z-index: 999;}
.slider-box { position: relative; overflow: hidden;}
.pd-mobile-contents{margin-top:-10px;}

.pd_prev ,.pd_next{ display: none; width: 18px; height: 34px; position: absolute; top: 35%; z-index:300; text-indent: -9999px;}
.pd_prev { background: url('../img/buttons/Arrow-L.png') no-repeat left top; left: 1px;}
.pd_next { background: url('../img/buttons/Arrow-R.png') no-repeat right top; right: 1px;}
.pd-mobile-img,.promo-mobile-box{ margin: 5px 15px; cursor:pointer;} 
.pd-mobile-img, .pd-mobile-img img { width: 200px; }
.pd-mobile-img h1, .pd-mobile-img p{ white-space: normal; padding: 3px 0px;}
.pd-mobile-img h4{ margin: 5px 0px; }
.pd-mobile-img p { display: block; display: -webkit-box; max-height: 3em; font-size:3vw; height: 1.0em*1.4*2; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }

.readmore { font-size:3.2vw; }
.content_preview{display: block; display: -webkit-box; max-height: 4rem;   height: 2.8em; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
.each-mobile-slide { text-decoration: none; display: inline; }
.customer-star img{ height: 15px; width:85px;}
.promo-mobile-product{ margin-bottom: 20px;}
.pd-mobile-products{margin:10px 0px;}

/***********************************************************************
  footer
***********************************************************************/
.about-mobile-Abox{ padding: 20px 0px;}
.social-mobile-outbox{height: 54px;}
.social-box { width: 300px; }
.social-title-box{  height: 30px; text-align: center;}
.social-title-box h3 { font-size: 0.9em; font-weight: normal;}
.social-mobile-link img {margin: 0px 5px;}
.about-mobile-box { height: 150px; border-top: 1px solid  #ababab; border-bottom: 1px solid  #8d8d8d;}

.info-about {}
.info-about ul { padding-left: 9px;}
.info-about li ,.footer-category-mobile li{width: 50%;}
.info-about li img{ width: 36px; height:36px;}
.info-about p{}
.info-about ul ul{}
.info-about ul ul li{padding: 4px 0px;}
.vert-list-left li, .vert-list-right li{ display: list-item;}
.vert-list-left li h4, .vert-list-right li h4{margin:5px 0px; margin-left: 36px; padding-left: 5px;}
.vert-list-right{ padding-left: 10px;}

.flag-mobile-outbox{ height: 100px; }
.footer-flag-box{width: 756px;}
.flag-hor-list img {margin: 3px 7px;}
.footer-category-mobile-box {border-top: 1px solid  #ababab; }
.footer-category-mobile{ height: 200px; margin:15px 15px 0px;}
.footer-category-mobile li{ text-align: center;}
.footer-category-mobile ul ul li {padding: 6px 0px;}
.footer-text-mobile { text-transform: uppercase; text-align: center;}
.footer-login-box{ height: 52px; padding:10px 0px;}
.footer-login-box a{ height:100%; }
.login-container{ }
.login-box,.login-form,.btn-box,.user-form-box,.pw-form-box{width: 420px;}
.login-box { padding-top: 10vw; padding-bottom: 15px;}
.login-icon{ width: 70px; }
.login-form{ margin: 15px 0px;}
.login-form p {text-align: right;}
.user-form-box,.pw-form-box{
  height: 33px;
  margin: 15px 0px 5px 0px;
  color:#d0d0d0;
  padding: 4px 10px;
}
.login-form h5{color:red; font-weight: bold; margin:0px;}
.btn-box p{ font-size: 1.8rem;}
.textBlock { margin-left: 8px;}
.textBlock a {text-decoration: underline;}
/*
login, register button
*/
.loginbtn,.regbtn{border:1px solid;}
.login-btn,.register-btn{ width:70%; margin:10px auto;}
.loginbtn,.regbtn{ padding: 8px 0px;  border-radius: 30px;  margin: 10px 0px; font-size: 4.0vw;}
/*.loginbtn{
   color: #ff2a98;
   border: 1px solid #ff2a98;
 }
 .regbtn{
  color:#337ab7;
  border: 1px solid #337ab7;
 }
*/
/****************************************************************************
*****************************************************************************/
.product-path{margin: 5px 15px; font-size: 17px;}
.product-title h3{margin: 20px 0px;}

/***
  After choose the product 
***/
.editer-box{width: 90vw; height: 76vw; border:1px dashed #ececec; margin: 15px 15px; }


.product-img-main {
margin: 0px 3px;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
  }
 .product-sub-box {
    float: left;
    margin: 8px 0px;
    width:100%;
}
.product-sub-box ul{ padding:0px; width:100%; margin:0px 3px;}
.product-sub-box li{ align-items: center;};
.product-sub-box{}
.caret-right{  position: absolute;
    right: 4%;
    top: 45%;}
.sub-img-container img{margin:2px 0px; width:24%;}
.personalised{font-size: 18px; line-height: 2.2em; border: none; margin: 10px auto;
  background: #ff5db1; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWRiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjAwN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ff5db1 0%, #ce217e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5db1), color-stop(100%,#ce217e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff5db1 0%,#ce217e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff5db1 0%,#ce217e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff5db1 0%,#ce217e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff5db1 0%,#ce217e 100%); /* W3C */

  -webkit-box-shadow: inset 0 1px 0 0 #F893C4; 
  -moz-box-shadow: inset 0 1px 0 0 #F893C4; 
  box-shadow: inset 0 1px 0 0 #F893C4; 
  cursor: pointer; border-radius: 3px 3px 3px 3px;-
  moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; 

}
.personalised:hover{
  background: #ff2a98; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff2a98 0%, #bc0062 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2a98), color-stop(100%,#bc0062)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff2a98 0%,#bc0062 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff2a98 0%,#bc0062 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff2a98 0%,#bc0062 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff2a98 0%,#bc0062 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a98', endColorstr='#bc0062',GradientType=0 ); /* IE6-9 */

}

.product_details {width:90%; margin: 5px auto; white-space: normal;}
.sub_layout li , .sub_size li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
 }
.sub_layout li:hover , .sub_size li:hover{
  background:#e5e5e5;
}
.sub_size {
  min-width: 100%;
}
.product_price{
  font-size: 2.4rem;
  text-align: left;
  margin-right:15px;

}
.option1,.option2{ width: 47%;}
.product-info{width: 90vw;}
.product-info h1 {
  font-size: 2.6rem;
}
.product-info >.customer-star img{
   height: 20px;
   width: 92px;
}
.product-info p{ margin: 10px 15px;}
.score{
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 3px;
}
.review-list{
  width: 90vw;
  margin: 15px auto;
}
.review-list ul {
  margin: 10px 0px;
}
.review-list li {
  display: inline-block;
}
.review-list li img {
  margin: 10px 0px;
}
.review-list li p {
  width: 70vw;
  margin: 10px auto;
  text-align: center;
 
}
.cards-box{
  margin-top:30px;
  margin-bottom: 30px;
}
.btn-apply {width: 90%; margin:10px 5px;}
.cards-col{padding: 5px 10px; text-align: center;}
.cards-col a{ text-decoration: none;}
.select-box{ font-size: 2.8vw; text-align: center; line-height: 2.4em;}
.product-option-box{margin: 10px auto;}
.select-option { margin:5px 5px;width:90%;}

/*
.rebrand-header-main,
body[class^="pbx_layout_stretch"] .rebrand-header-main{
  */

/******************************
  cart/basket page -checkout
*******************************/
.basketOutercontainer{}
.cart-outer-box{ }
.checkout-outer-box{ height:48px; }
.back-btn-box{ width:15%; margin-left: 10px;  }
.back-btn-arrow {
  background-image: url("../img/basket/LeftArrow_blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top:22px;
   
}
.back-btn-arrow h4{ padding-left: 15px;}
.a-icon-page-back{ background-image: url("../img/basket/LeftArrow_blue.png"); 
  width:.9rem; height:1.1rem; /*background-size: 40rem 65rem;*/
    display: inline-block;}
.back-btn { font-size: 2rem;  padding-left: 15px; padding-top:15px;
  cursor:pointer;
  
}
.cart-title{ text-align: center; width:70%; font-size: 2.8rem; padding-top:12px;}
.check-box-container{width:100%;}
.gift-check-box{width:60%; font-size: 1.8rem; padding-top:20px;}
.check-option{ width:1.6rem; height:1.6rem;  }


.flow{ }
.active-text {color:#1c1c1b !important;}
.btn-box-half{width:60%; margin: 15px 15px 0px 15px;}
.cartcontainer{height:170px; border-top:1px solid #ababab;}


.list-container{padding:10px 0px;}
.item-list-container{width:90%; margin:10px auto;}
.list-item-box{ }
.item-list-img{width:34%;}
.item-list-text{width:65%; padding-left:10px;}
.item-title{}
.item-title h3,.item-size h4, .item-price h4{margin:5px;}
.item-title h3,.item-size h4,.item-price h4{margin:5px;}


.sq-btn,.del-btn {width:30px; height:30px;}
.sq-btn { float:left; text-align: center; margin:0px 3px;}
.sq-btn img {padding:3px;}
.del-btn img {padding:5px;}
.select-count { font-size: 1.8rem; padding-top:3px;}

.top-title {padding:10px 5px; float:left; }
.top-title h4{float:left;}
.top-title >.sq-btn{float:right; padding:8px 15px; width:36px;}
.your-list {}
.your-list img{ float:left; width: 125px; height:inherit;} /* :TODO add media for size checking; */
.your-list li>.sq-btn{float:left; padding:8px 15px; width:36px; margin: 5px 0px 0px 10px;}
.your-price{ float:right; font-size: 6vw;}
.right-basketbox { float:right; margin:0px; padding:0px;}
.right-basketbox li>.sq-btn {float:left; padding:5px 15px; width:32px; margin: 5px 0px 0px 5px;}
.right-basketbox li{ display:list-item; height:40px;}
.your-price{padding:5px 0px;}
.total-price-box{ padding:5px; font-size: 2rem;}
#total-price{}
/*
.promotion-code-box{height:50px;}
.promo-form-box{ margin:10px 5px; width:65%; font-size: 5vw; }
.apply-btn{ margin:10px 0px; width:27%; font-size: 5vw;}
*/
.totoal-price{font-size: 6vw; margin:5px; padding:5px;}
.checkout-btn{font-size: 5vw; margin:5px; padding:10px;}


/**************************************************************************************
  Error Message box
*****************************************************************************************/
.error-box{ margin: 10px 0px; padding:5px 0px;}
.msg-title { padding-bottom: 20px;}

/**************************************************************************************
  deliver address box
*****************************************************************************************/

.input-radio-box {
    width: 80%;
    font-size: 1.8rem;
    margin: 0px auto;
}
.input-radio-box label{
  font-weight:400;
  margin:0px;
}
.input-radio-box input{
    margin-top: 4.8rem;
    vertical-align: middle;
    float: left;
}
.displayAddrDiv ul,.displayCardDiv ul{margin:0px;}
.displayAddrDiv li,.displayCardDiv li {
  word-wrap: break-word;
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-type: none;
}
.displayAddrFullName ,.CardCompany{
   display: inherit !important;
}
.half-btn{
  width: 47%;
  border: 1px solid #8d8d8d;
  line-height: 2.2em;
  color:#8d8d8d;
  background-color: #fff;
  margin-bottom: 20px;
  cursor:pointer;
}
.addr-radio{width:20px; height:20px;}
.add-new-addr{ font-size: 2.6rem; width: 92%; padding: 5px 0px 5px 20px;}
#addNewAddr-btn, #addNewCard-btn{cursor:pointer;}
.btn-container{margin:10px 0px; padding:10px 0px;}
.opt-addr-next{text-indent: -999px; width:12px; margin-top:4px;}
.cancel-box{margin:10px 0px; padding:20px 0px;}

/**************************************************************************************
  add a new address page
**************************************************************************************/

.add-a-new-addr{ width:100%; margin-bottom: 1.7rem!important; font-size: 1.8rem; line-height: 1.8em; border:1px solid #ababab;}
.add-new-card,.add-payPal { width:100%; font-size: 1.8rem; line-height: 1.8em; border:1px solid #ababab; }
.enterAddressFormField,.enterCardFormField ,.paypalFormField{ background-color: #fff; overflow-x: hidden;border-top:1px solid #e8e8e8;}
.enterAddressFormField input ,.enterCardFormField input, .paypalFormField input{width:98%; padding:3px 5px; box-shadow: none; border: 0; margin:2px;}
.a-form-error{border-top-color: #d00;     border-color: #d00;
    z-index: 1;
    -webkit-box-shadow: 0 0 0 .3rem rgba(221,0,0,.4) inset;
    box-shadow: 0 0 0 .3rem rgba(221,0,0,.4) inset;}
.expire{margin:10px;}
.col-30{ width:33.3%; }
.col-60{ width:67%;}
.cardExpireDateText{    font-size: 1.8rem;
    margin: 2px;
    line-height: 1.8em; color:#8d8d8d; }

.a-dropdown-container{text-align: left; width:100%;}
.a-dropdown {
    display: block !important;
    width: 100%;
    padding: 3px;
 
}
.payment-check-box {
  width:90%;
  font-size: 1.6rem;
  margin: 10px auto;
}
.check-pay-option {
  width:1.6rem;
  height:1.6rem;
}
.saveInfo-label{
  font-weight: 400;
}

.card-radio {
  margin-top:2.8rem !important;
}
/**************************************************************************************
  Make Gift page
***************************************************************************************/
.giftOutercontainer{width:100%; height:auto; padding:10px 0px;background-color: #e8e8e8; /*position:fixed;*/}
.gift-list-container {width:95%; margin:0px auto;}
.btn-white {
      color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.gift-msg-box {
  padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;

}
textarea{ width:100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.opt-card-box {
  width:100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding:10px 15px;
}
.card-group{ width:50%;   display: inline-block;
  text-align: center; float:left;}
.opt-card-silderbox { position: relative; overflow: hidden; width: 100%; }
.opt-card-prev,.opt-card-next{ width: 18px; 
  height: 34px; position: absolute; top: 35%; z-index:300; text-indent: -9999px;}
.opt-card-prev {  background: url('../img/buttons/Arrow-L.png') no-repeat left top; left: 1px;}
.opt-card-next,.opt-addr-next{  background: url('../img/buttons/Arrow-R.png') no-repeat right top; right: 1px;}
.cardSlide-holder,.giftcard-img{ width:180px;}
.cardSlide-holder{ margin: auto;}
.giftcard-img img{width:100%}
.procedure-container{width:100%; padding:10px;}
.btn-procedure {margin-bottom: 15px;}

.input-check-box{width:80%; font-size: 1.8rem; margin:20px auto;}
.input-check-box input {float:left;}
.input-check-box label{display:block; margin-left:1.4em;}
/* :TODO check browser size*/
.gift-check-img {
    position: relative;
    left: 14px;
    bottom: 116px;
}
.gift-check-img img {float:none; width:70%; height:inherit; max-width: 130px;} /* :TODO check browser size*/
.item-title h4, .item-size h5, .delivery-to h4, .delivery-addr h4 {margin:0px 5px;}
.item-img{ width:150px; height:150px;}
.add-gift{padding:5px 25px; background:#fff; border: 2px solid #ce217e;}
.option-add-btn{width:60%; margin:15px auto;}

/*
.opt-card-prev,.opt-card-next{ width: 18px; 
  height: 34px; position: absolute; top: 35%; z-index:300; text-indent: -9999px;}*/
/**************************************************************************************
  Confirmation page
****************************************************************************************/

.summary-box,.dispach-box{width:98%; margin:8px auto; font-size: 1.8rem; line-height: 1.8em; border:1px solid #ababab; background:#fff;}
.summary-box ul{padding:0px 10px; margin:5px 0px;}
.summary-box li {color:#8d8d8d; display:inline-block; width:49%;}
.dispach-box li{color:#8d8d8d;}
.totalOrder{color:#1d1d1d !important; }
.totalOrder-price {color:#ce217e !important;}
.dispath-info{padding:0px 6px; margin:8px 0px;}
.dispath-detail{  
    word-wrap: break-word; text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

.dispath-detail2  {   word-wrap: break-word; text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width:90%;}
.dispath-detail3 { word-wrap: break-word; text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width:90%;}
.addr-edit-link{width:97%;}
.promotion-code-box{width:98%; margin:8px auto; font-size: 1.8rem; line-height: 1.8em;}
.promo-code{margin-right: 10px; width:67%;}
.promo-code input{width:100%;padding:0px 10px; margin:5px 0px;  border: 1px solid #8d8d8d; }
.appy-btn{width:30% ; padding:0px 10px; margin:5px 0px; font-size: 1.8rem; line-height: 1.8em; border:1px solid #8d8d8d; }
.confirm-title{ width:98%; margin:8px auto; }
.opt-addr-next2 {    background: url('../img/buttons/Arrow-R.png') no-repeat right top;
    right: 1px;
    text-indent: -999px;
    width: 20px;
    margin-top: 7%; cursor:pointer;}
.opt-addr-next3  {    background: url('../img/buttons/Arrow-R.png') no-repeat right top;
    right: 1px;
    text-indent: -999px;
    width: 20px;
    margin-top: 5%; cursor:pointer;}
/**************************************************************************************
  Spinner
****************************************************************************************/
.spinner
{
  background: transparent url("../img/buttons/loading_icon.png") no-repeat center center;
  background-size: contain;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes rotate
{
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#splashSpinnerLogin
{
  position: absolute;
  top: 50%;
  left: 44%;
  width: 12%;
  height: 7%;           /* 9/16th of the width, since the screen's ratio is 16/9 */
}
#splashSpinnerFoget
{
   position: absolute;
  top: 45%;
  left: 44%;
  width: 12%;
  height: 7%; 
}
#splashSpinnerReg
{
  position: absolute;
  top: 55%;
  left: 44%;
  width: 12%;
  height: 7%; 
}
