   <div class="headerCallBox">
      <div class="callcontainer">
        <div class="call-box">
          <div class="call-img">
             <!--<span class="glyphicon glyphicon-user white"></span>-->
             <img src="img/header/ContactUs.png">
          </div>
          <div class="call-number middle-div white">
            <ul>
              <li>
                <p>Call: 0844 567 8228 Mon-Fri 9:00 am to 5:00 pm (UK)</p>
              </li>
               <li>
                <p>Email: contact@printerpix.co.uk</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
 <div class="only-clear"></div>